<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:ерЖth="http://www.w3.org/1999/xhtml">
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Users</title>
        <style>table th, table td {
            padding: 10px;
        }</style>
        <style> table th {
            color: blue;
        }</style>
    </head>
    <body>

        </div>
            <table data-th-border="2">
                <tr>
                    <th>NAME</th>
                    <th>LASTNAME</th>
                    <th>AGE</th>
                    <th>AUTORITIES</th>
                    <th>PASSWRD</th>
                </tr>
                 <tr th:each="user : ${users}">
                     <td th:text="${user.getUserName()}">UserName</td>
                     <td th:text="${user.getLastName()}">LastName</td>
                     <td th:text="${user.getAge()}">Age</td>
                     <td th:text="${user.getAuthorities()}">series</td>
                     <td th:text="${user.getPassword()}">age</td>
                     <td>
                         <form th:action="@{/admin/user/id}">
                             <button type="submit" th:name="id" th:value="*{user.getId()}">изменить</button>
                         </form>
                     </td>
                     <td>
                         <form th:action="@{/admin/deleteUser}" th:method="DELETE">
                             <button type="submit" th:name="id" th:value="*{user.getId()}">удалить</button>
                         </form>
                     </td>
                 </tr>
            </table>
        <form th:action="@{/admin/addUser}">
            <button type="submit">Добавить User</button>
        </form>
        <form th:action="@{/logout}" method="post">
            <button type="submit">Выйти</button>
        </form>
    </body>
</html>