
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body class="p-3 m-0 border-0 bd-example m-0 border-0 bg-body-tertiary ">

<!-- Example Code -->

<nav class="navbar navbar-dark bg-dark">

        <div class="text-white" id="nav" style="font-size: 30px" >!</div>
        <form th:action="@{/logout}" method="post">
            <button class="btn  text-white" type="submit">Logout</button>
        </form>

</nav>

<br>
<div class="container-fluid"><!-- боковая панель-->
    <div class="row ">
        <div class="col-2  bg-white  px-0 " style="height: 800px;">
            <ul class="nav  nav-pills flex-column  style=width: 50%" id="pills-tab">
                <li class="nav-item d-grid gap-2" role="presentation">
                    <button class="nav-link active " type="button"  aria-current="page"
                       id="admin"
                       data-bs-toggle="pill"
                       data-bs-target="#multiPage1"
                       aria-selected="true" role="tab"
                       aria-controls="multiPage1">Admin</button>
                </li>
                <li class="nav-item d-grid gap-2" role="presentation">
                    <button class="nav-link" type="button"
                       id="user1"
                       data-bs-toggle="pill"
                       data-bs-target="#multiPage2"
                       aria-expanded="false" role="tab"
                       aria-controls="multiPage2" href="#">User</button>
                </li>


            </ul>

            <!-- Content -->
            <!-- основная -->
        </div>
        <div class="tab-content  col-xl-10" id="pills-tabContent">
            <!--навигация admin-->
            <div class="tab-pane fade show active"
                 id="multiPage1"
                 aria-labelledby="admin">

                <ul class="nav nav-tabs"
                    id="myTab"
                    role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">User table</button>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">New User</button>
                    </li>

                </ul><!--содержание панелей-->
                <div class="tab-content card">
                    <!--вкладка User Table-->
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" tabindex="0">

                        <div class="card-header fw-bold" style="font-size: 35px">Admin panel</div>

                        <table class="table table-striped"
                        id="allUser">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody id="users-table">
<!--                            <tr th:each="user : ${users}">-->
<!--                                <td th:text="${user.getId()}"></td>-->
<!--                                <td th:text="${user.getUsername()}"></td>-->
<!--                                <td th:text="${user.getLastName()}"></td>-->
<!--                                <td th:text="${user.getAge()}"></td>-->
<!--                                <td th:text="${user.getEmail()}"></td>-->
<!--                                <td th:text="${user.getAuthorities()}"></td>-->
<!--                                <td>-->
<!--                                    <button type="button"-->
<!--                                            name="edit"-->
<!--                                            id="editUserBtn"-->
<!--                                            class="btn btn-primary"-->
<!--                                            data-bs-toggle="modal"-->
<!--                                            data-bs-target="#editModal"-->

<!--                                            th:attr="userId=${user.id}">-->
<!--                                        Edit-->

<!--                                    </button>-->
<!--                                </td>-->
<!--                                <td>-->
<!--                                    <button type="button"-->
<!--                                            id="deleteUserBtn"-->
<!--                                            class="btn btn-danger"-->
<!--                                            data-bs-toggle="modal"-->
<!--                                            data-bs-target="#deleteModal"-->

<!--                                            th:attr="userId=${user.id}">-->
<!--                                        Delete-->
<!--                                    </button>-->
<!--                                </td>-->
<!--                            </tr>-->
                            </tbody>
                        </table>
                    </div>

                    <!-- вкладка new User-->
                    <div class="tab-pane" id="profile" role="tabpanel"
                         aria-labelledby="profile-tab" tabindex="0">
                        <nav class="card-header fw-bold" style="font-size: 35px">
                            Add new User
                        </nav>
                        <!-- forma ввода данных нового Usre-->
                        <div class="container text-center ">
                            <form id="formNewUser">
                                <div class="form-group col-4 mx-auto p-2 fw-bold ">
                                    <label for="formGroupIdInput1">Id</label>
                                    <input type="text" name="id" class="form-control" id="formGroupIdInput1" readonly  placeholder="Id">
                                </div>
                                <div class="form-group col-4 mx-auto p-1 fw-bold">
                                    <label for="formGroupFirstNameInput1">First Name</label>
                                    <input type="text" class="form-control" name="firstName" id="formGroupFirstNameInput1" placeholder="First Name">
                                </div>
                                <div class="form-group col-4 mx-auto p-1 fw-bold">
                                    <label for="formGroupLastNameInput1">Last Name</label>
                                    <input type="text" class="form-control" name="lastName" id="formGroupLastNameInput1" placeholder="Last Name">
                                </div>
                                <div class="form-group col-4 mx-auto p-1 fw-bold">
                                    <label for="formGroupAgeInput1">Age</label>
                                    <input type="number" class="form-control" name="age" id="formGroupAgeInput1" placeholder="Age">
                                </div>
                                <div class="mb-3 col-4 mx-auto p-1 fw-bold">
                                    <label for="exampleInputEmail1" class="form-label">Email</label>
                                    <input type="email" class="form-control" name="email" id="exampleInputEmail1"  >
                                </div>
                                <div class="form-group col-4 mx-auto p-1 fw-bold">
                                    <label for="formGroupPasswordInput1">Password</label>
                                    <input type="password" class="form-control" name="password" id="formGroupPasswordInput1" placeholder="password">
                                </div>
                                <div class="form-group col-4 mx-auto p-1 fw-bold">
                                    <label for="selectRoles">Autorities</label>
                                    <select class="form-select"
                                        id="selectRoles" size="2" name="roles"a>

                                        <option
<!--                                                th:each="role : ${roles}" th:value="${role.id}"-->
<!--                                            th:text="${role.role}"-->
                                        ></option>
                                    </select>


                                    <button type="button" class="btn btn-success mt-3" id="addUserBtn">
                                        Add new
                                        user
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <!--навигация user-->
            <div class="tab-pane fade"
                 id="multiPage2"
                 aria-labelledby="user1"
                 role="tabpanel">
                <table class="table table-striped"
                       >
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Role</th>
                    </tr>
                    </thead>
                    <tbody id="current table">
<!--                    <tr>-->
<!--                        <td th:text="${currentUser.getId()}">id</td>-->
<!--                        <td th:text="${currentUser.getUsername()}">name</td>-->
<!--                        <td th:text="${currentUser.getLastName()}">lastname</td>-->
<!--                        <td th:text="${currentUser.getAge()}">age</td>-->
<!--                        <td th:text="${currentUser.getEmail()}">email</td>-->
<!--                        <td th:text="${currentUser.getAuthorities()}">autorities</td>-->
<!--                    </tr>-->
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>
<!-- модальное окно EDIT-->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit User</h1>
                <button type="button" id="closeEdit" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <!-- содержимое модульного  окна-->
            <div class="modal-body">
                <div class="container text-center ">
                    <form id="formEdit" onsubmit="editFormSubmit()">
                        <div class="form-group col-4 mx-auto p-1 fw-bold">
                            <label for="formGroupIdInput2"  >Id</label>
                            <input type="text" class="form-control" name="id" readonly id="formGroupIdInput2" >
                        </div>
                        <div class="form-group col-4 mx-auto p-1 fw-bold">
                            <label for="formGroupFirstNameInput2"  >First name</label>
                            <input type="text" class="form-control" name="firstName" value="123" id="formGroupFirstNameInput2" >
                        </div>
                        <div class="form-group col-4 mx-auto p-1 fw-bold">
                            <label for="formGroupLastNameInput2">Last name</label>
                            <input type="text" class="form-control" name="lastName" id="formGroupLastNameInput2" >
                        </div>
                        <div class="form-group col-4 mx-auto p-1 fw-bold">
                            <label for="formGroupAgeInput2">Age</label>
                            <input type="number" class="form-control" name="age" id="formGroupAgeInput2" >
                        </div>
                        <div class="form-group col-4 mx-auto p-1 fw-bold">
                            <label for="InputEmail2" class="form-label">Email</label>
                            <input type="email" class="form-control" name="email" id="InputEmail2" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group col-4 mx-auto p-1 fw-bold">
                            <label for="formGroupPasswordInput2">Password</label>
                            <input type="password" class="form-control" name="password" id="formGroupPasswordInput2" >
                        </div>
                        <br>
                        <select class="form-select" multiple aria-label="пример множественного выбора" name="roles" id="editRoles">
                            <option>
<!--                                    th:each="role : ${roles}" th:value="${role.id}"-->
<!--                                    th:text="${role.role}"-->
                            </option>
                        </select>
                    </form>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" id="closeDelete" class="btn btn-secondary"
                        data-dismiss="modal">Close
                </button>
                <button type="submit" class="btn btn-primary" id="editUserBtnModal">Edit</button>

            </div>
        </div>
    </div>
</div>
<!-- модальное окно 2 DELETE-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel2">Заголовок модального окна</h1>
                <button type="button" class="btn-close" id="btnDeleteClose" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <!-- содержимое модульного  окна-->
            <div class="modal-body">
                <div class="container text-center ">
                    <form id="formModal">
                        <div class="form-group col-4 mx-auto p-1 fw-bold">
                            <label for="formGroupIdInput">Id</label>
                            <input type="text" name="id" class="form-control" value="id" readonly id="formGroupIdInput" >
                        </div>
                        <div class="form-group col-4 mx-auto p-1 fw-bold">
                            <label for="formGroupFirstNameInput">First name</label>
                            <input type="text"  name="username" class="form-control"  value="*{}"  readonly id="formGroupFirstNameInput" >
                        </div>
                        <div class="form-group col-4 mx-auto p-1 fw-bold">
                            <label for="formGroupLastNameInput">Last name</label>
                            <input type="text" name="lastname" class="form-control" value="Ввод здесь только для чтения..."  readonly id="formGroupLastNameInput" >
                        </div>
                        <div class="form-group col-4 mx-auto p-1 fw-bold">
                            <label for="formGroupAgeInput">Age</label>
                            <input type="text" name="age" class="form-control" value="Ввод здесь только для чтения..."  readonly id="formGroupAgeInput" >
                        </div>
                        <div class="form-group col-4 mx-auto p-1 fw-bold">
                            <label for="InputEmail1" class="form-label">Email</label>
                            <input type="email" name="email" class="form-control" value="Ввод здесь только для чтения..."  readonly id="InputEmail1" >
                        </div>
                        <div class="form-group col-4 mx-auto p-1 fw-bold">
                            <label for="formGroupExampleInput2">Password</label>
                            <input type="password" name="password" class="form-control" value="Ввод здесь только для чтения..."  readonly id="formGroupExampleInput2" >
                        </div>
                        <br>
                        <select class="form-select" multiple aria-label="пример множественного выбора" size="2" disabled>

                            <option
<!--                                    th:each="role : ${roles}"-->
<!--                                    th:text="${role.role}"-->
                            ></option>

                        </select>
                    </form>
                </div>
            </div>
            <div class="modal-footer" >
                <button type="button" class="btn btn-primary" id="btnDelete" >Удалить</button>
            </div>
        </div>
    </div>
</div>

<!-- End Example Code -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="\info.js"></script>
<script >

    let buttons = document.getElementsByName('edit');
     buttons.forEach(button=>{
         console.log("нашел");
         if (button.id == 'editUserBtn'){
             button.addEventListener('click', function () {
                 console.log("нажата1")
                 const userId = this.getAttribute('userId');
                 fetch("http://localhost:8080/admin/user/" + userId)
                     .then(response => response.json())
                     .then(user => {
                         document.getElementById('formGroupIdInput2').value = user.id;
                         document.getElementById('formGroupFirstNameInput2').value = user.userName;
                         document.getElementById('formGroupLastNameInput2').value = user.lastName;
                         document.getElementById('formGroupAgeInput2').value = user.age;
                         document.getElementById('InputEmail2').value = user.email;
                         document.getElementById('formGroupPasswordInput2').value = user.password;
                     });
             })
         }
     });


    document.querySelectorAll('button').forEach(button => {
        console.log('query');
        if (button.id == 'addUserBtn'){
            button.addEventListener('click', function () {
          let add = document.forms['formNewUser'];
            let roles = [];
            console.log("adduser")
            for (let i = 0; i < add.roles.options.length; i++) {
                if (add.roles.options[i].selected) {
                    roles.push({
                        id: add.roles.options[i].value,
                        role: add.roles.options[i].text})
                }
            }
            console.log('feth1')
            fetch("admin/user/" , {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    id: add.id.value,
                    userName: add.firstName.value,
                    age: add.age.value,
                    lastName: add.lastName.value,
                    email: add.email.value,
                    password: add.password.value,
                    roles: roles
                })
            }).then(() =>creatTable());
            })
        };
        if (button.id == 'btnDelete'){
            let id = document.getElementById('formGroupIdInput');
            console.log('pered delete');
            button.addEventListener('click', function () {
                console.log("delete " + "  " + id.value);
                fetch("/admin/user/" + id.value, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(()=> {
                    $('#btnDeleteClose').click();
                    creatTable();
                });
            })
        };

        if (button.id == 'deleteUserBtn') {
            button.addEventListener('click', function () {
                console.log("нажата")
                const userId = this.getAttribute('userId');
                // let id = button.attr('data-userid');
                console.log(userId );
                fetch("http://localhost:8080/admin/user/" + userId)
                    .then(response => response.json())
                    .then(user => {
                        // document.getElementById('#formGroupIdInput2').value = user.id;
                        console.log(user);
                        let delModal = document.getElementById('formModal');
                        delModal.id.value = user.id;
                        delModal.username.value = user.userName;
                        delModal.lastname.value = user.lastName;
                        delModal.age.value = user.age;
                        delModal.email.value = user.email;
                        delModal.password.value = user.password;

                    });
            });

        };
        if (button.id == 'editUserBtnModal'){
            button.addEventListener('click', function (){
                let formEdit = document.forms["formEdit"];
                let roles = [];
                for (let i = 0; i < formEdit.roles.options.length; i++) {
                     if (formEdit.roles.options[i].selected) {
                         roles.push({
                           id: formEdit.roles.options[i].value,
                           role: formEdit.roles.options[i].text})
                     }
                }
                console.log('knopka izmenit3');
                fetch("admin/user/" , {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        id: formEdit.id.value,
                        userName: formEdit.firstName.value,
                        age: formEdit.age.value,
                       lastName: formEdit.lastName.value,
                        email: formEdit.email.value,
                        password: formEdit.password.value,
                        roles: roles
                    })
                }).then(() => {
                    $('#closeEdit').click();
                    location.reload();
                });
                formEdit.submit;
            });
        };
    });
    // });
    // function handleFormSubmit(event) {
    //     // Просим форму не отправлять данные самостоятельно
    //     event.preventDefault()
    //     console.log('Отправка!')
    // }
    //
    // const applicantForm = document.getElementById('deleteUserBtn');
    // console.log(applicantForm.id)
    // // applicantForm.getAttribute(user)
    // // addEventListener('submit', handleFormSubmit)
</script>
</body>
</html>
