<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome to Index PAGE!</h1>

<label>Roles:
    <input type="checkbox" name="role"
                   th:each="role : ${roles}"
                   th:text="${role.getRole()}"

                   th:field="*{roles}"
                   />
    </label>

<form th:action="@{/login}" method="post">
    <button type="submit">Sign in</button>
</form>
</body>
</html>