<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example</title>
    </head>
    <body>
        <h1>User!!, welcome spring boot security page!</h1>
        <br>
        <div th:text="${users.getEmail()}">11111</div>
        <a th:text="${users.getEmail()}">11111</a>
        <br>
        <table data-th-border="2">
            <tr>
                <th>NAME</th>
                <th>LASTNAME</th>
                <th>AGE</th>
                <th>AUTORITIES</th>
                <th>PASSWRD</th>
            </tr>
            <tr >
                <td th:text="${users.getUserName()}">UserName</td>
                <td th:text="${users.getLastName()}">LastName</td>
                <td th:text="${users.getAge()}">Age</td>
                <td th:text="${users.getAuthorities()}">series</td>
                <td th:text="${users.getPassword()}">age</td>
            </tr>
        </table>
        <form th:action="@{/logout}" method="post">
            <button type="submit">Sign Out</button>
        </form>
    </body>
</html>